NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2luY2VyZS1tYW1tYWwtMzguY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_CNlLb62p73xnxC1j4kPoP5aK0flTIOHjGdet6BSP4B
DATABASE_URL=postgresql://neondb_owner:npg_HM1Yxjn6odUW@ep-nameless-bush-a8u6b0dx-pooler.eastus2.azure.neon.tech/neondb?sslmode=require
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzlmYWU4MjI5ZTVhZTA1YmRlMjJkZjJmMDg1ODk0M2YwZTQ2ZmEwMzZhNDUwYzIxNmI2OTRmYTYxM2Q3MDAyMDAiLCJhcHBJZCI6ImVrZ2EwOWp0cHEiLCJyZWdpb25zIjpbInNlYTEiXX0='